@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.my-element {
  background-color: bg-red-500;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed {
  z-index: 1000;
}

.custom-border {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-border > * {
  border-radius: 8px;
}


.video-and-livechat-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .video-and-livechat-container {
    flex-direction: row;
  }

  .video-and-comments-container {
    flex: 3;
  }

  .live-chat-container {
    flex: 1;
  }
}

.live-chat {
  min-height: 400px;
  height: 100%;
  max-height: 100vh;
  border: 1px solid #adadad;
  border-radius: 8px;
}

.messages {
  padding: 0.5rem;
}

.message-form {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}

.message-form input {
  flex-grow: 1;
  margin-right: 0.5rem;
}


.video-player-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.video-player {
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 8px; 
  overflow: hidden; 
}


.progress-bar {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff;
}


.left-controls {
  display: flex;
  align-items: center;
}

.right-controls {
  display: flex;
  align-items: center;
}

.progress-container {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.video-player:hover .controls-container {
  opacity: 100;
}

.controls-container {
  padding: 0.25rem 0.5rem;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.video-player:hover .progress-container {
  opacity: 100;
}

.video-info {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 0;
  border-radius: 8px;
}

.user-and-views {
  display: flex;
  align-items: center;
}







/*  Src-box  */

.src-box { 
  font-size: 16px; 
  border: solid .25em #000000; 
  display: inline-block; 
  position: relative; 
  border-radius: 2em;
} 

.src-box input[type=text] {
  font-family: inherit;
  font-weight: bold;
  color: #000000;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  border-radius: 2.5em;
  transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55) 150ms;
}
  
.src-box input[type=text]:focus { 
  outline: none;   
} 
  
.src-box input[type=text]:focus,
.src-box input[type=text]:not(:placeholder-shown) {
  width: 18em;
  transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55);
}

@media (max-width: 640px) {
  .src-box input[type=text]:focus,
  .src-box input[type=text]:not(:placeholder-shown) {
    width: 12em;
    transition: width 800ms cubic-bezier(.68, -.55, .27, 1.55);
  }
}

.src-box input[type=text]:focus + button[type=reset], 
.src-box input[type=text]:not(:placeholder-shown) + button[type=reset] {
  transform: rotate(-45deg) translateY(0); 
  transition: transform 150ms ease-out 800ms; 
  right: 1.2em;
} 

.src-box input[type=text]:focus + button[type=reset]::before,
.src-box input[type=text]:not(:placeholder-shown) + button[type=reset]::before {
  transform: scaleY(0.8); 
  transition: transform 150ms ease-out;
  top: .45em;
}

.src-box input[type=text]:focus + button[type=reset]::after, 
.src-box input[type=text]:not(:placeholder-shown) + button[type=reset]::after {
  opacity: 1; 
  transform: rotate(90deg) scaleY(0.8);
  transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
  top: .45em;
}

.src-box button[type=reset] {
  background-color: transparent;
  width: .3em; 
  height: .3em;
  border: 0;
  padding: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: .1em;
  right: 1.2em;
  transform: rotate(-45deg) translateY(2.2em);
  transition: transform 150ms ease-out 150ms;
} 

.src-box button[type=reset]::before, 
.src-box button[type=reset]::after {
  content: "";
  background-color: #000000;
  width: .3em;
  height: 1em;
  border-radius: 10px;
  position: absolute;
  transform-origin: center;
} 

.src-box button[type=reset]::after {
  transform: rotate(90deg);
  opacity: 0;
  transition: transform 150ms ease-out, opacity 150ms ease-out;
}


.trending-page-container {
  margin-left: 260px; 
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.text-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}


.table-fixed {
  width: 100%;
}

.col-id {
  width: 10%;
}

.col-title {
  width: 40%;
}

.col-status {
  width: 10%;
}

.col-actions {
  width: 40%;
}

.bg-green-500 {
  background-color: rgb(81, 244, 81);
  color: white;
}

.bg-red-500 {
  background-color: rgb(217, 38, 38);
  color: white;
}

.bg-orange-500 {
  background-color: rgb(233, 170, 54);
  color: white;
}












/* Menu déroulant User */
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 160px;
  background-color: #2d3748;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 200ms, visibility 200ms, transform 200ms;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px); 
}

.dropdown-menu a {
  display: block;
  padding: 12px 16px;
  font-size: 14px;
  color: #cbd5e0;
  text-decoration: none;
  transition: background-color 150ms, color 150ms;
}

.dropdown-menu a:hover {
  background-color: #2d3a52;
  color: #fff;
}

.user-icon:hover + .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); 
}


.menu-container:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  display: block;
  padding: 12px 16px;
  font-size: 14px;
  color: #cbd5e0;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
}

.dropdown-item:hover {
  background-color: #2d3a52;
  color: #fff;
}




/* Bouttons information user */

.button {
  padding: 10px;
  margin: 2px;
  font-size: 1rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #000000;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}

.button:hover::after {
  transform: rotate(150deg);
}

.button:hover {
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

.trending-page-container {
  margin-left: 260px; 
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.text-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}