@tailwind base;
@tailwind components;
@tailwind utilities;

.my-element {
  background-color: bg-red-500;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-border {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-border > * {
  border-radius: 8px;
}


.video-and-livechat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .video-and-livechat-container {
    flex-direction: row;
  }

  .video-and-comments-container {
    flex: 3;
  }

  .live-chat-container {
    flex: 1;
  }
}

.live-chat {
  min-height: 200px;
  height: 100%;
  max-height: 100vh;
}

.messages {
  padding: 0.5rem;
}

.message-form {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
}

.message-form input {
  flex-grow: 1;
  margin-right: 0.5rem;
}






